.Dashboard{
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 0rem;
    margin-left: -15px;
    margin-top: -15px;
    margin-bottom: -16px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.logout-button {
    width: 4rem;
}