.ChatList{
    display: flex;
    flex-direction: column;
    gap:0rem;
    align-items: 20;
    overflow: auto;
    margin-left: -10px;
    margin-top: -15px;
    margin-bottom: -16px;
    background-color: white;
}